<h1>Listing articles</h1>

<table>
  <tr>
    <th>Hl</th>
    <th>Src</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.hl %></td>
    <td><%= article.src %></td>
    <td><%= article.link %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>

<%= raw show_message "Hi" %><br/>
<br/>

<%= @html.class %><br/>
<%= @try %><br/>
<br/>

<% @html.each do |a_tag| %>
	<%#= raw a_tag %><br/>
	<%#= raw a_tag.to_html %><br/>
	<%= a_tag.content %>
<% end %>

<%#= @xml.to_xml %>

<%#= @xml_base.class %><br/>
<%#= @noko_node.class %><br/>
<%#= raw @xml_base_xml %><br/>
