<h1>
	<% if @genre == "soci" %>
		Society
	<% elsif @genre == "int" %>
		Overseas
	<% elsif @genre == "bus_all" %>
		Economy
	<% end %>
</h1>

<div>
	<%= link_to 'Society', 
			:controller => "articles", 
			:action => "index", 
			:genre => "soci" %> |
	<%= link_to 'Econ', 
			:controller => "articles", 
			:action => "index", 
			:genre => "bus_all" %> | 
	<%= link_to 'Overseas', 
			:controller => "articles", 
			:action => "index", 
			:genre => "int" %>
</div>

<hr/>
	<% @categories.each do |category| %>
		<a href="#<%= category%>"><%= category %></a> | 
	<% end %>
<hr/>

<!-- USA -------------------->
<div id="<%= @categories[0] %>">
	<%= @categories[0] %> (<%= @objects[0].size %> items)
</div>
<hr/>

<% @objects[0].each do |item| %>
	<%#= raw item.to_html %>
	<%# item.each do |article| %>
		<div style="line-height: 250%;">
			<%#= raw item[0] %>
			<%#= raw article %>
			<%= raw item %><br/>
			<%#= item.content %>
		</div>
	<%# end %>
<% end %>
<br/>

<!-- China -------------------->
<hr/>
<div id="<%= @categories[1] %>">
	<%= @categories[1] %> (<%= @objects[1].length %> items)
</div>
<hr/>

<% @objects[1].each do |item| %>
	<%#= raw item.to_html %>
	<%# item.each do |article| %>
		<div style="line-height: 250%;">
			<%#= raw item[0] %>
			<%#= raw article %>
			<%= raw item %><br/>
			<%#= item.content %>
		</div>
	<%# end %>
<% end %>

<!-- Europe -------------------->
<hr/>
<div id="<%= @categories[2] %>">
	<%= @categories[2] %> (<%= @objects[2].size %> items)
</div>
<hr/>

<% @objects[2].each do |item| %>
	<%#= raw item.to_html %>
	<%# item.each do |article| %>
		<div style="line-height: 250%;">
			<%#= raw item[0] %>
			<%#= raw article %>
			<%= raw item %><br/>
			<%#= item.content %>
		</div>
	<%# end %>
<% end %>


<!-- Others -------------------->
<hr/>
<div id="<%= @categories[3] %>">
	<%= @categories[3] %> (<%= @objects[3].size %> items)
</div>
<hr/>

<% @objects[3].each do |item| %>
	<%#= raw item.to_html %>
	<%# item.each do |article| %>
		<div style="line-height: 250%;">
			<%#= raw item[0] %>
			<%#= raw article %>
			<%= raw item %><br/>
			<%#= item.content %>
		</div>
	<%# end %>
<% end %>

